{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HBMedia - Media Agency">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>HBMedia - Media Agency</title>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/core-img/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}
    <meta name="google-site-verification" content="YZMVxGFuO2VkuRK1fA34NYtxyHg3lfHP6uQCrbYv6yM" />
</head>

<body>
<!-- b narsani navbar bn footerni ortasina qoyasan -->
<div id="preloader">
    <div class="wrapper">
        <div class="cssload-loader"></div>
    </div>
</div>
<!-- ***** Top Search Area Start ***** -->
<div class="top-search-area">
    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- Close Button -->
                    <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i>
                    </button>
                    <!-- Form -->
                    <form action="index.html" method="post">
                        <input type="search" name="top-search-bar" class="form-control"
                               placeholder="Search and hit enter...">
                        <button type="submit">{% trans 'Search' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Top Search Area End ***** -->
<!-- ***** Header Area Start ***** -->
<header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="uzaNav">
                <!-- Logo -->
                <a class="nav-brand" href="{% url 'index' %}"><img src="{% static 'images/core-img/logo.png' %}"
                                                                   width="195px" alt=""></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- Menu Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul id="nav">
                            <li class="navItem current-item"><a class="a"
                                                                href="{% url 'index' %}">{% trans 'Home' %}</a></li>
                            <li class="navItem"><a class="a" href="{% url 'about' %}">{% trans 'About' %}</a></li>
                            <li class="navItem"><a class="a" href="{% url 'portfolio' %}">{% trans 'Portfolio' %}</a>
                            </li>
                            <li class="navItem"><a class="a" href="{% url 'services' %}">{% trans 'Service' %}</a>
                                <ul class="dropdown" >
                                    <li style="width: auto"><a href="{% url 'web-create' %}">- {% trans 'Website Creation' %}</a></li>
                                    <li><a href="{% url 'content-create' %}">- {% trans 'Content Creation' %}</a></li>
                                    <li><a href="{% url 'video-create' %}">- {% trans 'Video Production' %}</a></li>
                                </ul>
                            </li>
                            <li class="navItem"><a class="a" href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                            <li class="nav-item">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% if LANGUAGE_CODE == 'en' %}
                                <a class="nav-link dropdown-toggle a" href="" id="dropdown09" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false"><span
                                           class="flag-icon flag-icon-us"> </span> {% trans 'English' %}</a>
                                <ul class="dropdown">
                                    <li style="width: auto"><a class="dropdown-item" href="/ru{{ request.get_full_path|slice:'3:' }}"><span
                                                class="flag-icon flag-icon-ru"> </span> {% trans 'Russian' %}</a></li>
                                </ul>
                                {% elif LANGUAGE_CODE == 'ru' %}
                                <a class="nav-link dropdown-toggle a" href="" id="dropdown09" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false"><span
                                           class="flag-icon flag-icon-ru"> </span> {% trans 'Russian' %}</a>
                                <ul class="dropdown">
                                    <li style="width: auto"><a class="dropdown-item" href="/en{{ request.get_full_path|slice:'3:' }}"><span
                                                class="flag-icon flag-icon-us"> </span> {% trans 'English' %}</a></li>
                                </ul>
                                {% endif %}
                            </li>
                        </ul>
                        <!-- Nav End -->
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
{% block body %}
{% endblock %}
<section class="uza-newsletter-area">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <!-- Newsletter Content -->
            <div class="col-12 col-md-6 col-lg-6">
                <div class="nl-content mb-80">
                    <h2>{% trans 'Subscribe to our Newsletter' %}</h2>
                    <p>{% trans 'Subscribe to our newsletter to get notification about new updates, etc...' %}</p>
                </div>
            </div>
            <!-- Newsletter Form -->
            <div class="col-12 col-md-6 col-lg-5">
                <div class="nl-form mb-80">
                    <form action="{% url 'sendmail' %}" method="POST">{% csrf_token %}
                        <input type="email" name="nl-email" value="" placeholder="{% trans 'Your Email' %}">
                        <button type="submit">{% trans 'Subscribe' %}</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Border Bottom -->
        <div class="border-line"></div>
    </div>
</section>
<!-- ***** Footer Area Start ***** -->
<footer class="footer-area section-padding-80-0">
    <div class="container">
        <div class="row justify-content-between">
            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-80">
                    <!-- Widget Title -->
                    <h4 class="widget-title">{% trans 'Contact Us' %}</h4>
                    <!-- Footer Content -->
                    <div class="footer-content mb-15">
                        <h5>(+998) 99 876 1902</h5>
                        <p>{% trans 'Chorsu Shayhontohur dis. Tashkent city ' %}<br> <a href="mailto:hbmediauz@gmail.com">hbmediauz@gmail.com</a></p>
                    </div>
                    <p class="mb-0">{% trans 'Mon - Sat' %}: 9:00 - 19:00 <br>
                        {% trans 'Closed on Weekends' %}</p>
                </div>
            </div>
            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-80">
                    <!-- Widget Title -->
                    <h4 class="widget-title">{% trans 'Quick Link' %}</h4>
                    <!-- Nav -->
                    <nav>
                        <ul class="our-link">
                            <li><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
                            <li><a href="{% url 'about' %}">{% trans 'About Us' %}</a></li>
                            <li><a href="{% url 'contact' %}">{% trans 'Contact Us' %}</a></li>
                            <li><a href="{% url 'portfolio' %}">{% trans 'Portfolio' %}</a></li>
                            <li><a href="{% url 'services' %}">{% trans 'Services' %}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-80">
                    <!-- Widget Title -->
                    <h4 class="widget-title">{% trans 'Resources' %}</h4>
                    <!-- Nav -->
                    <nav>
                        <ul class="our-link">
                            <li><a href="#">{% trans 'Customer Support' %}</a></li>
                            <li><a href="#">{% trans 'Privacy' %}</a></li>
                            <li><a href="#">{% trans 'Media' %} &amp; {% trans 'Press' %}</a></li>
                            <li><a href="#">{% trans 'Our Team' %}</a></li>
                            <li><a href="#">{% trans 'Contact' %}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-80">
                    <!-- Widget Title -->
                    <h4 class="widget-title">{% trans 'About Us' %}</h4>
                    <p>{% trans 'You can easily find us on social media. Please share your experience with us on these platforms below' %}.</p>
                    <!-- Social Info -->
                    <div class="footer-social-info">
                        <a href="https://www.facebook.com/bobur.hasanboyev.1" class="facebook" data-toggle="tooltip"
                           data-placement="top" title="Facebook" target="_blank"><i
                                class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/boburkhasanboev" class="twitter" data-toggle="tooltip"
                           data-placement="top" title="Twitter" target="_blank"><i
                                class="fa fa-twitter"></i></a>
                        <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"
                           target="_blank"><i
                                class="fa fa-pinterest"></i></a>
                        <a href="https://www.instagram.com/boburkhasanboev/" class="instagram" data-toggle="tooltip"
                           data-placement="top" title="Instagram" target="_blank"><i
                                class="fa fa-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UCaKAd7fgjxSyPwde2XJT6Qg" class="youtube"
                           data-toggle="tooltip" data-placement="top" title="YouTube" target="_blank"><i
                                class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 30px;">
            {% trans 'Copyright' %} &copy;
            <script>
                document.write(new Date().getFullYear());
            </script>
            {% trans 'All rights reserved' %} | <b> HBMedia </b>
        </div>
    </div>
</footer>
<!-- ***** Footer Area End ***** -->
<!-- ******* All JS Files ******* -->
<!-- jQuery js -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- All js -->
<script src="{% static 'js/uza.bundle.js' %}"></script>
<!-- Active js -->
<script src="{% static 'js/default-assets/active.js' %}"></script>
<script>
    let Path = location.pathname.split('/').slice(2, 3);
    Path = Path.join('/');
    $('#nav .navItem').map(function () {
        found_path = $(this).find('.a').attr('href').slice(3,)

        if (found_path === '/') {
            $(this).addClass("current-item");
        }

        if (found_path === '/' + Path + '/') {
            $(this).addClass("current-item");
        }
        if (found_path === '/services/') {
            $(this).removeClass("current-item");
        } else {
            $(this).removeClass("current-item");
        }
    }).get();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153533491-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-153533491-1');
</script>

{% block js %}
{% endblock %}
</body>

</html>