{% extends 'base.html' %}
{% load static i18n %}
{% block body %}
    <section class="section-padding-80">
        <div class="container ">
            <h1 class="mt-5">{% trans 'We create contents' %}</h1>
            <img src="{% static 'images/core-img/2.jpg' %}" alt="">
            <p class="section-padding-80">{% trans ' Reaching to millions of people is really easy if it is compared to 30-35 years back. Because today the power of Internet is and will be huge. If you are the business or have a business its a great time for you and me have some fun. We love to make you happy by creating creative content for your business to grow rapidly. If you are a start-up or corporative company we are here to elevate your game to the next level. We are here to help to create a right content on the right time for the right purposes. Lets fire up the all social media platforms from <b>Facebook</b> to <b>Tik Tok' %}</b>.


             </p>
        </div>
    </section>
{% endblock %}
