{% extends 'base.html' %}
{% load static %}
{% block body %}
    <section class="section-padding-80">
        <div class="container ">
            <h1 class="mt-5">We create contents</h1>
            <img src="{% static 'images/core-img/2.jpg' %}" alt="">
            <p class="section-padding-80">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusamus accusantium aliquam amet
                assumenda cumque debitis dolor doloremque eveniet itaque laborum molestiae mollitia natus nesciunt
                nostrum numquam possimus, provident quaerat quod sapiente similique tempora voluptate? Beatae
                consequatur consequuntur delectus dolore ducimus eos expedita fuga hic id impedit iusto labore libero
                magni, maiores necessitatibus nesciunt, nihil nobis nostrum numquam perferendis quia, quis recusandae
                rem similique sint unde vel velit? Ab ad amet architecto, asperiores atque aut corporis cum cumque
                dignissimos earum eius enim et eum ex illum ipsa laudantium maiores molestias officia quia quos
                reiciendis repellendus rerum sed sit veritatis?</p>
        </div>
    </section>
{% endblock %}
