{% extends 'base.html' %}
{% load static i18n %}
{% block body %}
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide">
            <!-- Background Curve -->
            <div class="background-curve">
                <img src="{% static 'images/core-img/curve-1.png' %}" alt="">
            </div>
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-6">
                            <div class="welcome-text">
                                <h2 data-animation="fadeInUp" data-delay="100ms">
                                    <font size="500"> {% trans 'We do not have clients' %}; <br> but <span>relationships</span> </font>
                                </h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms">We love to create "cool" things in Digital World</h5>
                                <a href="#" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Start Exploring</a>
                            </div>
                        </div>
                        <!-- Welcome Thumbnail -->
                        <div class="col-12 col-md-6">
                            <div class="welcome-thumbnail">
                                <img src="{% static 'images/bg-img/1.png' %}" alt="" data-animation="slideInRight" data-delay="400ms">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide">
            <!-- Background Curve -->
            <div class="background-curve">
                <img src="{% static 'images/core-img/curve-1.png' %}" alt="">
            </div>
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-6">
                            <div class="welcome-text">
                                <h2 data-animation="fadeInUp" data-delay="100ms">
                                    <font size="500"> We do not have clients; <br> but <span>relationships</span> </font>
                                </h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms">We love to create "cool" things in Digital World</h5>
                                <a href="#" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Start Exploring</a>
                            </div>
                        </div>
                        <!-- Welcome Thumbnail -->
                        <div class="col-12 col-md-6">
                            <div class="welcome-thumbnail">
                                <img src="{% static 'images/bg-img/1.png' %}" alt="" data-animation="slideInRight" data-delay="400ms">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide">
            <!-- Background Curve -->
            <div class="background-curve">
                <img src="{% static 'images/core-img/curve-1.png' %}" alt="">
            </div>
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-6">
                            <div class="welcome-text">
                                <h2 data-animation="fadeInUp" data-delay="100ms">
                                    <font size="500"> We do not have clients; <br> but <span>relationships</span> </font>
                                </h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms">We love to create "cool" things in Digital World</h5>
                                <a href="#" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Start Exploring</a>
                            </div>
                        </div>
                        <!-- Welcome Thumbnail -->
                        <div class="col-12 col-md-6">
                            <div class="welcome-thumbnail">
                                <img src="{% static 'images/bg-img/1.png' %}" alt="" data-animation="slideInRight" data-delay="400ms">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="uza-about-us-area">
    <div class="container">
        <div class="row align-items-center">
            <!-- About Thumbnail -->
            <div class="col-12 col-md-6">
                <div class="about-us-thumbnail mb-80">
                    <img src="{% static 'images/bg-img/2.jpg' %}" alt="">
                    <!-- Video Area -->
                    <div class="uza-video-area hi-icon-effect-8">
                        <a href="" class="hi-icon video-play-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!-- About Us Content -->
            <div class="col-12 col-md-6">
                <div class="about-us-content mb-80">
                    <h2>We're a Agency Team &amp; Digital Marketing</h2>
                    <p> Hi we are <b> HBMedia </b>. We are full-service national agency, build for the now.</p>
                    <p>Our clients place their trust in us knowing that we live and breate their brand. We become part of their marketing team. We drive their business forward. <b> Let's get started </b> .</p>
                    <a href="about.html" class="btn uza-btn btn-2 mt-4">Start Exploring</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About Background Pattern -->
    <div class="about-bg-pattern">
        <img src="{% static 'images/core-img/curve-2.png'%} " alt="">
    </div>
</section>
<!-- ***** About Us Area End ***** -->
<!-- ***** Services Area Start ***** -->
<section class="uza-services-area section-padding-80-0">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Our Services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Service Area -->
            <div class="col-12 col-lg-4">
                <div class="single-service-area mb-80">
                    <!-- Service Icon -->
                    <div class="service-icon">
                        <i class="icon_globe"></i>
                    </div>
                    <h5>Website Creation</h5>
                    <p>We can help you to drive more sales by creating a website. Moreover, now we assist you with <b> SEO </b>.</p>
                </div>
            </div>
            <!-- Single Service Area -->
            <div class="col-12 col-lg-4">
                <div class="single-service-area mb-80">
                    <!-- Service Icon -->
                    <div class="service-icon">
                        <i class="icon_easel"></i>
                    </div>
                    <h5>Content creation</h5>
                    <p>We help you to create impressive & eye-catching content for your audience on social media. </p>
                </div>
            </div>
            <!-- Single Service Area -->
            <div class="col-12 col-lg-4">
                <div class="single-service-area mb-80">
                    <!-- Service Icon -->
                    <div class="service-icon">
                        <i class="icon_camera"></i>
                    </div>
                    <h5>Video Production</h5>
                    <p>Create a touching ad video campaign with <b> HBMedia </b> for reaching millions.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Services Area End ***** -->
<!-- ***** Portfolio Area Start ***** -->
<section class="uza-portfolio-area section-padding-80">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Our Portfolio</h2>
                    <p>We stay on top of our industry by being experts in yours.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <!-- Portfolio Slides -->
            <div class="portfolio-sildes owl-carousel">
                <!-- Single Portfolio Slide -->
                <div class="single-portfolio-slide">
                    <img src="{% static 'images/bg-img/3.jpg'%}" alt="">
                    <!-- Overlay Effect -->
                    <div class="overlay-effect">
                        <h4>Sales</h4>
                        <p>The seller or the provider of the goods or services, completes a sale in response to an acquisition, appropiration, requisition or a direct interaction with the buyer at the point of the sale.</p>
                    </div>
                    <!-- View More -->
                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>
                <!-- Single Portfolio Slide -->
                <div class="single-portfolio-slide">
                    <img src="{% static 'images/bg-img/4.jpg'%}" alt="">
                    <!-- Overlay Effect -->
                    <div class="overlay-effect">
                        <h4>Digital Marketing</h4>
                        <p>Business leverage digital channels such as search engines, social media, email and other websites to connect with current and prospective customers. It also includes Affiliate Marketinf, Influencer Marketing, Viral and Content Marketing. </p>
                    </div>
                    <!-- View More -->
                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>
                <!-- Single Portfolio Slide -->
                <div class="single-portfolio-slide">
                    <img src="{% static 'images/bg-img/5.jpg' %}" alt="">
                    <!-- Overlay Effect -->
                    <div class="overlay-effect">
                        <h4>Brand Management</h4>
                        <p>It is the analsis and planning on how a brand is pervieved in the market is essential for brand management. Tangible elements of a brand management include the product itself, its look, price, packaging and etc.</p>
                    </div>
                    <!-- View More -->
                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>
                <!-- Single Portfolio Slide -->
                <div class="single-portfolio-slide">
                    <img src="{% static 'images/bg-img/6.jpg' %}" alt="">
                    <!-- Overlay Effect -->
                    <div class="overlay-effect">
                        <h4>SEO (Search Engine Optimization)</h4>
                        <p>SEO is the process of increasing the quality and the quantity of a website traffic by increasinfthe visibility of a website or a web page to users of a web search engine. </p>
                    </div>
                    <!-- View More -->
                    <div class="view-more-btn">
                        <a href="#"><i class="arrow_right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Client Feedback Area Start -->
        <div class="clients-feedback-area mt-80 section-padding-80 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Testimonial Slides -->
                        <div class="testimonial-slides owl-carousel">
                            <!-- Single Testimonial Slide -->
                            <div class="single-testimonial-slide d-flex align-items-center">
                                <!-- Testimonial Thumbnail -->
                                <div class="testimonial-thumbnail">
                                    <img src="{% static 'images/bg-img/7.jpg'%}" alt="">
                                </div>
                                <!-- Testimonial Content -->
                                <div class="testimonial-content">
                                    <h4>“<b> HBMedia </b>’s ranking has gone up so much from the great work that your team has done and our brand get organic sales consistently from your efforts. We are happy that the results of your efforts were lasting and profitable.”</h4>
                                    <!-- Ratings -->
                                    <div class="ratings">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                    </div>
                                    <!-- Author Info -->
                                    <div class="author-info">
                                        <h5>Darrell Goodman <span>- CEO <b> Colorlib </b> </span></h5>
                                    </div>
                                    <!-- Quote Icon -->
                                    <div class="quote-icon"><img src="{% static 'images/core-img/quote.png'%}" alt=""></div>
                                </div>
                            </div>
                            <!-- Single Testimonial Slide -->
                            <div class="single-testimonial-slide d-flex align-items-center">
                                <!-- Testimonial Thumbnail -->
                                <div class="testimonial-thumbnail">
                                    <img src="{% static 'images/bg-img/23.jpg'%}" alt="">
                                </div>
                                <!-- Testimonial Content -->
                                <div class="testimonial-content">
                                    <h4>“Everybody is equally right to have a decision that changes the course of their action. In SMM I assume there is no agency or company exists like <b> HBMedia </b>. Its not only the help that they did us , but the care for our brands as well .”</h4>
                                    <!-- Ratings -->
                                    <div class="ratings">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                    </div>
                                    <!-- Author Info -->
                                    <div class="author-info">
                                        <h5>Erica Pearson <span>- Client <b> High Networth </b> </span></h5>
                                    </div>
                                    <!-- Quote Icon -->
                                    <div class="quote-icon"><img src="{% static 'images/core-img/quote.png'%}" alt=""></div>
                                </div>
                            </div>
                            <!-- Single Testimonial Slide -->
                            <div class="single-testimonial-slide d-flex align-items-center">
                                <!-- Testimonial Thumbnail -->
                                <div class="testimonial-thumbnail">
                                    <img src="{% static 'images/bg-img/25.jpg'%}" alt="">
                                </div>
                                <!-- Testimonial Content -->
                                <div class="testimonial-content">
                                    <h4>“ <b>HBMedia</b> is the new and only agency that cares about its customers. We take our customers' brands to the next level.
                                        <br><strong> We prioritize our work by priozitizing customers brands </strong>”</h4>
                                    <!-- Ratings -->
                                    <div class="ratings">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                    </div>
                                    <!-- Author Info -->
                                    <div class="author-info">
                                        <h5>Bobur Khasanboev <span>- CEO <b> HBMedia </b> </span></h5>
                                    </div>
                                    <!-- Quote Icon -->
                                    <div class="quote-icon"><img src="{% static 'images/core-img/quote.png' %}" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Client Feedback Area End -->
        <!-- Border -->
        <div class="container">
            <div class="border-line"></div>
        </div>
        <!-- Background Curve -->
        <div class="portfolio-bg-curve">
            <img src="{% static 'images/core-img/curve-3.png'%}" alt="">
        </div>
</section>
<!-- ***** Portfolio Area End ***** -->
<!-- ***** Blog Area Start ***** -->
<section class="uza-blog-area">
    <!-- Background Curve -->
    <div class="blog-bg-curve">
        <img src="{% static 'images/core-img/curve-4.png'%}" alt="">
    </div>
    <!-- CTA Area Start -->
    <div class="uza-cta-area section-padding-0-80">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-8">
                    <div class="cta-content mb-80">
                        <h2>Interested in working with us?</h2>
                        <h6>Hit the button below or give us a call!</h6>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="cta-content mb-80">
                        <div class="call-now-btn">
                            <a href="#"><span>Call us now:</span> 99 876 1902</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CTA Area End -->
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Most Read Articles</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Blog Post -->
            <div class="col-12 col-lg-4">
                <div class="single-blog-post bg-img mb-80'%}" style="background-image: url({% static 'images/bg-img/0.jpg'%);"}>
                    <!-- Post Content -->
                    <div class="post-content">
                        <span class="post-date"><span>01</span> July,2019</span>
                        <a href="https://www.value.today/world-top-companies/media" class="post-title">World Top Media Companies List - 2019</a>
                        <p>List of World Top Media and Advertising Companies List by Market Capitalization as on July-01-2019. World Top Companies Ranks are given according to market cap value of the companies as on July-01-2019 </p>
                        <a href="https://www.value.today/world-top-companies/media" class="post-title" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Single Blog Post -->
            <div class="col-12 col-lg-4">
                <div class="single-blog-post bg-img mb-80" style="background-image: url({% static 'images/bg-img/26.jpg'%);"}>
                    <!-- Post Content -->
                    <div class="post-content">
                        <span class="post-date"><span>20</span> September, 2019</span>
                        <a href="https://www.vogue.com.au/fashion/news/these-are-the-10-most-popular-fashion-brands-in-2019/image-gallery/0fc61bb276f8a4f6eb60caab0b3679a2" class="post-title">10 most popular brands in 2019</a>
                        <p>These are the 10 most popular fashion brands in 2019 According to The Lyst Index 2019 these are the most coveted labels so far this year. The data from over five million shoppers browsing and buying online.</p>
                        <a href="https://www.vogue.com.au/fashion/news/these-are-the-10-most-popular-fashion-brands-in-2019/image-gallery/0fc61bb276f8a4f6eb60caab0b3679a2" class="post-title" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Single Blog Post -->
            <div class="col-12 col-lg-4">
                <div class="single-blog-post bg-img mb-80" style="background-image: url({% static 'images/bg-img/10.jpg'%);"}>
                    <!-- Post Content -->
                    <div class="post-content">
                        <span class="post-date"><span>08</span> July, 2018</span>
                        <a href="https://adage.com/creativity/top20" class="post-title">The most successful ad campaigns in 2019</a>
                        <p>The Top 20 reflects the most viewed work on the site each day. The view counts are updated daily.</p>
                        <a href="https://adage.com/creativity/top20" class="post-title" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Blog Area End ***** -->
<!-- ***** Newsletter Area Start ***** -->

<!-- ***** Newsletter Area End ***** -->
{% endblock %}