{% extends 'base.html' %}
{% load static i18n %}
{% block body %}
    <section class="section-padding-80">
        <div class="container ">
            <h1 class="mt-5">{% trans 'We create videos' %}</h1>
            <img src="{% static 'images/core-img/3.jpg' %}" alt="">
            <p class="section-padding-80">{% trans 'We assist our clients with video production in order to expand the awarenes of the company.Our forward-thinking team of storytellers, featuring industry veterans and digital natives, nurture digital and broadcast productions through all phases of development—from research to post-production to launch.Storyboards. Motion design. Animation. Visual effects. Our posse of expert artists and animators is armed with top-tier tools and software to bring imaginative concepts to life and win over clients.' %} </p>
        </div>
    </section>
{% endblock %}