{% extends 'base.html' %}
{% load static i18n %}
{% block body %}
    <section class="section-padding-80">
        <div class="container ">
            <h1 class="mt-5">{% trans 'We create websites' %}</h1>
            <img src="{% static 'images/core-img/1.jpg' %}" alt="">
                <p class="section-padding-80">{% trans 'We assist you to drive more sales by creating a stunning websites for your business with us. In this era its difficult to find any area that is not involved with Internet. By using website not only you can increase your sales but you would have an opportunity to improve your services as well. Now you can turn your web visitors into your potential client. Once a new visitor comes to your website their data would be recorded to the data track automatically and then you would be able to control the process of your services. Furthermore we can help you with "SMM, SEO, GSC, SEM" at the same time.  We help you to increase your traffic and sales of your business by creating websites for you.' %} </p> 
             
        </div>
    </section>
{% endblock %}